
* { box-sizing: border-box;}

#para1 { text-align: center; }

#maintitle { text-transform: uppercase; }

body {
  font-family: Arial, Verdana, Helvetica sans-serif;
  margin: 0;
  background-color: #ecd7c6;
}

.header{
  padding: 220px;
  text-align: center;
  color: white;
  background-image: url(sun.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header h1 { font-size: 60px; }

.skillsachievement {
  padding: 220px;
  text-align: center;
  color: white;
  font-size: 30px;
  background-image: url(myskills.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.contactheader {
  padding: 220px;
  text-align: center;
  color: white;
  font-size: 30px;
  background-image: url(contactbanner.jpg);
  background-repeat: round;
}


.navbar {
  overflow: hidden;
  background-color: #dab38b;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}


.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


.navbar a.right { float: right; }


.navbar a:hover {
  background-color: #ddd;
  color: black;
}


.navbar a.active {
  background-color: #666;
  color: white;
}

.row {  
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


.side {
  -ms-flex: 30%;
  flex: 30%;
  background-color: #e6cab3;
  padding: 20px;
}


.main {   
  -ms-flex: 70%; 
  flex: 70%;
  background-color:#ecd7c6 ;
  padding: 20px;
}


.myimg {
  background-color: #e0e0d2;
  width: 100%;
  padding: 20px;
}


.center {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.footer {
  padding: 20px;
  text-align: center;
  background:#e6cab3 ;
}

@media screen and (max-width: 700px) {
  .row { flex-direction: column; }
}

@media screen and (max-width: 400px) {
  .navbar a 
  {
    float: none;
    width: 100%;
  }
}

* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #a3a375;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 90%; background-color: #007399;}
.css {width: 85%; background-color: #d279a6;}
.js {width: 70%; background-color: #ffb84d;}
.php {width: 65%; background-color: #008000;}

.responsive {
  width: 100%;
  height: auto;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover { background-color: #45a049; }
